* {
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 		border-box;
	}

html {
	font-size: 100%;
	}

body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	@include font-size(1,1.5);
	}

blockquote {

	cite {

		}
	}

ul, ol {
	margin: 0 0 1.5em 1.5em;
	}

img,
a img {
	max-width: 100%;
	}

figure, img {

	}

figure {

	figcaption {

		}
	}

[type=submit] {
	cursor: pointer;
	}